body{
  font: 20px Arial, sans-serif;
}
h3{
  margin-bottom: 3rem;
}
.navbar{
  background-color:#00271E;
  color: #FFFFFF;
}

.quem-somos, .parceiros, .servicos, .bg-footer{
  color:#FFFFFF;
}

.quem-somos{
  background-color:#75978F;
}
.quem-somos img{
  width: 400px;
  height: 400px;
}
.margin{
  padding-bottom:50px;
  padding-top: 10px;
}

.parceiros{
  background-color: #3C765D;
}

.parceiros img{
  width: 100%;
}

.servicos{
  background-color: #62937D;
}

.bg-footer{
  background-color: black;
}

.bg-footer a{
  text-decoration: none;
}