body{
  font: 20px Arial, sans-serif;
}
h3{
  margin-bottom: 3rem;
}
.navbar{
  background-color:#00271E;
  color: #FFFFFF;
}

.quem-somos, .parceiros{
  color:#FFFFFF;
}

.quem-somos{
  background-color:#75978F;
}
.quem-somos img{
  width: 400px;
  height: 400px;
}
.margin{
  padding-bottom:50px;
  padding-top: 10px;
}

.parceiros{
  background-color: #26B4C0;
}

.parceiros img{
  width: 100%;
}